[2018-08-08 22:37] acarl005 opened #1 "unable to run demo"
Hello, I'm trying to run the demo with the pre-trained model. I downloaded it and moved it inside a `models/` directory, but I get this error.

[code]

[code]

[2018-08-22 01:46] Devin147 commented on #1
please contact author for dataset

[2018-08-23 01:50] foamliu commented on #1
Devin147 is correct, the demo relies on original dataset.

[2018-08-23 01:50] #1 closed

[2018-08-23 06:41] Devin147 opened #2 "question about ‘safe_crop’ function in utils.py"

[2018-08-23 06:45] #2 closed

[2018-08-23 09:25] Devin147 opened #3 "What do you think of the method in paper?"
The method introduced in paper is very simple. And the result of my implementation is much lower than paper. But I think I have done all the detail. So, do you think there are any tricks which the paper doesn't describe?

[2018-09-12 04:27] jjlchui commented on #1
Hi foamliu, how can I get the dataset?

[2018-09-12 05:48] foamliu commented on #1
Follow the instruction (in README.md) to contact author for the dataset.

在 2018-09-12 12:27:36，"jjlchui" <notifications@github.com> 写道：

Hi foamliu, how can I get the dataset?

—
You are receiving this because you modified the open/close state.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-09-13 05:15] jjlchui commented on #1
Thanks.  刘杨

On Wed, Sep 12, 2018 at 1:48 PM 刘杨 <notifications@github.com> wrote:

[2018-09-18 14:28] Diligentfight opened #4 "How long time have you trained for converege"
Question just like the title.
                   Thanks very much

[2018-10-16 02:29] visonpon opened #5 "How to test on my own dataset?"
Hi,
As I see, both the` demo.py `and `test.py` use the trimap to output the results:

` trimap = generate_trimap(alpha)`---demo.py(it seems trimap generated from ground truth)
` ap.add_argument("-t", "--trimap", help="path to the trimap file")`---test.py(load from existed file)
so, how to get the trimap of my own dataset and test on the pretrained model?
thanks~

[2018-10-18 09:56] foamliu commented on #4
5-7 days

[2018-10-18 09:56] #4 closed

[2018-10-18 09:58] foamliu commented on #3
How trimap is created (dilating) matters.

[2018-10-18 09:58] #3 closed

[2018-10-18 10:02] foamliu commented on #5
Semantic-segmentation? E.g. if foreground is person this project may help: https://github.com/foamliu/Look-Into-Person

[2018-10-18 10:02] #5 closed

[2018-10-19 09:49] shliang0603 opened #6 "FileNotFoundError"
@foamliu-ms
when I run pre-process.py ,report the error:FileNotFoundError: [Errno 2] No such file or directory: 'Adobe_Deep_Matting_Dataset.zip'. Where can I download this data set of "Adobe_Deep_Matting_Dataset.zip"
![image](https://user-images.githubusercontent.com/37186266/47211615-85697100-d3c8-11e8-8411-23d6003dfa51.png)

 when I run demo.py ,report a error: FileNotFoundError: [Errno 2] No su

[2018-10-21 22:30] bobykhani opened #7 "BrokenPipeError: [Errno 32] Broken pipe"
Hi, I Rebuild the Dataset But when I want to Train the model this happened:

Epoch 1/1000
Exception in thread Thread-9:
Traceback (most recent call last):
  File "C:\Users\Bobykhani\Anaconda2\envs\tensorflow\lib\threading.py", line 916, in _bootstrap_inner
    self.run()
  File "C:\Users\Bobykhani\Anaconda2\envs\tensorflow\lib\threading.py", line 864, in run
    self._target(*self._args, **self._k

[2018-10-21 22:45] bobykhani commented on #6
I think you should contact paper's Author For the dataset and download that into your project's Folder.
for Demo you should download pretrained model from https://github.com/foamliu/Deep-Image-Matting/releases/download/v1.0/final.42-0.0398.hdf5 and put that into models folder in the root of the project

[2018-10-22 01:08] shliang0603 commented on #6
@bobykhani Thanks for your reply，I have contacted the second author of the paper , but haven't received his reply. Do you have the "Adobe_Deep_Matting_Dataset.zip" ?

[2018-10-23 06:10] visonpon commented on #5
Hi
foamliu, thanks for your quickly response, but the pretrained model provided by the project [https://github.com/foamliu/Look-Into-Person](url) do not match the model.  Someone has mentioned the load error, hope you can help us~ thanks~

[2018-10-23 14:54] liminn opened #8 "The decoder network is hard to understand"
Hi, can you explain the decoder part of the encoder-decoder network? It's very different from the common decoder network.
For example, block like this is hard to understand:
[code]
I thik it's very different from the structure in paper, can you expalain it?
Thank you very much!

[2018-10-23 15:45] Diligentfight commented on #8
You need learn unpooling operation

[2018-10-24 01:49] liminn commented on #8
I confused the deconvolution operation and the unpooling operation before. Thank you！ @Diligentfight

[2018-10-24 01:49] #8 closed

[2018-10-24 10:06] liminn opened #9 "question about "compositional_loss""
Hi，Thanks for sharing your source code! Here is my question:
First,  `data_generator.py` will generate `batch_y`. The shape of `batch_y` is  `(batch, img_rows, img_cols, 2)`.
Second, `compositional_loss(y_true, y_pred)` function  defined in the `utils.py`:
[code]

- My understanding is that the generated `batch_y`  corresponds to `y_true`
- `batch_y` only has 2 channels in the fourth dimension.
-

[2018-10-24 11:09] liminn opened #10 "question about "custom_loss_wrapper""
Hi，Thanks for sharing your source code! Here is my question:
- There are several lines of code in the **`train_refinement.py`** script：
[code]
- My question: where is the **`custom_loss_wrapper`** function in **`utils.py`** ? It doesn't seem to exist in `utils.py`.

Waiting for your reply, thank you！

[2018-10-26 01:49] shliang0603 commented on #6
Thanks for your answer, I have downloaded the pre-trained model in model
directory of project. Now I am applying the data set to author, but no
reply has been received.

bobykhani <notifications@github.com> 于2018年10月22日周一 上午6:45写道：

[2018-10-27 01:14] foamliu commented on #6
Close the issue.

[2018-10-27 01:14] #6 closed

[2018-10-28 03:42] zhengyi123456 opened #11 "Error is training_names.txt"
Do you miss some files to upload?

[2018-11-02 06:42] foamliu commented on #11
请按说明下载数据集。

[2018-11-02 07:24] yuzhiren opened #12 "No such file or directory: 'Combined_Dataset/Training_set/training_fg_names.txt'"
I just want to try the demo part, still met with
"No such file or directory: 'Combined_Dataset/Training_set/training_fg_names.txt'"??

[2018-11-08 02:22] zhengyi123456 opened #13 "How to implement the unpool"
请问您是如何定义unpool的操作的呢，注意到您的unpool操作不是简单的upsample？
还有在decoder阶段，您使用的卷积核的数量没有按照原文当中的来，有没有其他的影响呢

[2018-11-08 10:53] fanjianing commented on #12
Same to you.

[2018-11-08 17:11] bmetge commented on #12
same here

[2018-11-13 03:26] shliang0603 opened #14 "sdf"

[2018-11-13 06:34] zhengyi123456 commented on #13
自己回答一下，可以参考FCN网络的设计

[2018-11-14 01:09] #14 closed

[2018-11-14 06:38] niusilong opened #15 "No file Adobe_Deep_Matting_Dataset.zip"
I follow the [instruction](https://sites.google.com/view/deepimagematting) to contact author for the dataset. But had not received the Adobe_Deep_Matting_Dataset.zip dataset file yet. How to get the dataset file now ?
email: niusilong2006@163.com

[2018-12-13 07:11] Jiajia0319 opened #16 "Cannot find the pre-trained model in the provided link."
Cannot find the pre-trained model in the provided link.:
"Download pre-trained Deep Image Matting Model to "models" folder then run."

[2018-12-24 11:18] mathrho commented on #9
had the same concern!

[2018-12-27 10:08] adarshmenon commented on #12
Exactly the same issue. Where do we find the these text files?

[2018-12-27 10:38] fanjianing commented on #12
reply all above questions: this file is in Adobe Image Matting Dataset. You have to request the dataset from the author of the paper.

[2018-12-28 12:36] aigc-boys commented on #12
@fanjianing ,Can you send me the Adobe datasets's link, I have send a email for author of Deep Image Matting, but I didn't get a reply.Thanks. My email is 1575262785@qq.com.

[2018-12-28 12:39] aigc-boys commented on #6
@bobykhani ,@ shliang0603 , Can you send me the Adobe datasets's link, I have send a email for author of Deep Image Matting, but I didn't get a reply.Thanks. My email is 1575262785@qq.com.

[2018-12-28 12:41] aigc-boys commented on #1
@jjlchui , Can you send me the Adobe datasets's link, I have send a email for author of Deep Image Matting, but I didn't get a reply.Thanks. My email is 1575262785@qq.com.

[2018-12-29 02:07] xaibeing commented on #9
Same question!
But the code worked without error.
Do you figure this out? @liminn @mathrho

[2018-12-29 02:13] liminn commented on #9
@xaibeing Try:
[code]

[2018-12-29 02:53] xaibeing commented on #9
@liminn thanks! you are right, I didn't know array can be used this way.
And a[:,:,10:20]  return array[], so I think the compositional_loss didn't take effect, unless fill batch_y with image, fg and bg. right?

[2018-12-29 02:55] liminn commented on #9
@xaibeing Yes, but maybe the compositional_loss isn't important ^_^

[2018-12-29 02:57] #9 closed

[2018-12-29 08:33] wanlipeng commented on #12
@fanjianing  Have you got the Adobe Image Matting Dataset,Thanks for your reply!!

[2018-12-29 14:07] oee5215 opened #17 "Test.py model not found"
Hi foamliu,

I've been having some errors implementing the test.py. The code requires a model named model.35-0.03.hdf5, which is not available in your repository. I tried using the model for the demo.py, but it says that I'm "trying to load a weight file containing 33 layers into a model with 26 layers". Could you please upload the correct model file?

Best,

Oscar

[2018-12-30 13:05] oee5215 commented on #17
so it ended up working with the model for the demo.py after I modified the code to include the build_refinement step, as shown in the demo.

[2018-12-30 13:05] #17 closed

[2018-12-30 13:08] oee5215 opened #18 "Can we test on arbitrary size images?"
I noticed that test.py assumes that the input image size is 320 x 320 pixels.  How can I test on an arbitrary image size without the need for cropping or resizing before inputting it into the model?

[2019-01-01 14:37] chenzhaiyu commented on #17
Hi iee5215,
Could you send me the Adobe dataset if you have it? I contacted Mr. Price but haven't received any response yet. My email is contact[AT]chenzhaiyu.com, Thanks! @oee5215

[2019-01-02 02:24] hufangjian commented on #12
I get the same error.

[2019-01-02 07:46] chenzhaiyu commented on #15
@niusilong Same here. Could you send me one if you have it? My email is contact[AT]chenzhaiyu.com. Thanks.

[2019-01-02 14:31] foamliu commented on #18
We cannot.

[2019-01-02 14:31] #18 closed

[2019-01-02 14:33] foamliu commented on #16
It links to a model in github, I just clicked and it worked for me. Could you give it another try?

[2019-01-02 14:33] #16 closed

[2019-01-02 14:34] foamliu commented on #15
I am not authorized to share the dataset with anyone else, please contact to the author directly.

[2019-01-02 14:34] #15 closed

[2019-01-02 14:36] foamliu commented on #13
unpooling的机制和反卷积部分的实现参考了 SegNet 的论文：https://arxiv.org/pdf/1511.00561.pdf

[2019-01-02 14:36] #13 closed

[2019-01-02 14:37] foamliu commented on #12
Fanjianing is correct, please contact the author for the dataset.

[2019-01-02 14:37] #12 closed

[2019-01-02 14:38] #11 closed

[2019-01-02 14:40] foamliu commented on #10
It was deleted, please check the git history of "utils.py".

[2019-01-02 14:40] #10 closed

[2019-01-02 14:43] foamliu commented on #7
The code was tested on Linux(Ubuntu 16.04). Are you working on Windows?

[2019-01-02 14:43] #7 closed

[2019-01-04 08:19] babyformula opened #19 "Question about loading weights in demo.py"
Hi Mr. Liu,

Thanks for sharing the implementation of DIM. I met an issue when loading the weights (trained in an 8 GPUs machine) in demo.py. Seems the checkpoint has several layers more than the model built, saying 'ValueError: You are trying to load a weight file containing 47 layers into a model with 33 layers.' Reaaly appreciate it if you please hint how to deal with this error.

Thanks

[2019-01-04 10:52] babyformula commented on #19
Found the problem, there's "import segnet" in train.py, but "import model" in demo.py. Seems another round of training is needed, lmao.

[2019-01-04 10:52] #19 closed

[2019-01-05 11:09] wangxin1233 opened #20 "integer argument expected, got float"
hello,thanks for your coder,but there is an error when I train the modle.   python train.py
 integer argument expected, got float
![image](https://user-images.githubusercontent.com/44840625/50723798-5a680100-111d-11e9-99d3-c22de094d883.png)

[2019-01-05 11:43] foamliu commented on #20
欢迎pull request.

[2019-01-05 11:43] #20 closed

[2019-01-07 03:44] wangxin1233 opened #21 "StopIteration: 'NoneType' object has no attribute 'shape'"
![image](https://user-images.githubusercontent.com/44840625/50747933-944a1c00-1271-11e9-9182-6d53b0fca9f5.png)
could you help me  to sovel the problem?thanks

[2019-01-07 08:59] babyformula commented on #21
Normally it's because of the wrong data path or loading method

[2019-01-08 09:02] realczy opened #22 "Unexpected inference result on custom dataset"
Hi,

I used the pretrained weights to test on my own building dataset. Here are some examples of input patches, trimaps and corresponding predictions.

![deep_matting_result](https://user-images.githubusercontent.com/24312770/50819608-807fe200-1365-11e9-8c63-36288a291d3c.png)

Even if the pretrained model never fine-tuned on my dataset, I didn't expect its prediction to have such jagged edges (whi

[2019-01-08 09:24] wangxin1233 commented on #22
Hi,
I am also working on this model. Can I add a WeChat to ask some questions?

[2019-01-08 13:50] chenzhaiyu commented on #22
Sure, my WeChat ID is "woecat".

[2019-01-09 06:22] wangxin1233 opened #23 "version of Tensorflow and keras"
Hello, thank you very much for sharing the code. Could you tell me which version of Tensorflow and keras are used for replication?

[2019-01-09 13:12] foamliu commented on #23
Added tensorflow and keras versions into README.md.

[2019-01-09 13:12] #23 closed

[2019-01-09 13:15] foamliu commented on #21
Just tried and train.py works, so seems this is an incorrect data path issue.

[2019-01-09 13:15] #21 closed

[2019-01-11 09:25] cardwing commented on #18
@oee5215, just modify the shape of the input tensor to be (None, None, 4) and re-train the model. In this condition, the model can handle inputs with arbitrary sizes.

Edit:
After following the above suggestions, it seems that this method does not work. I will test other options and see if it can use inputs with arbitrary sizes.

[2019-01-11 16:04] oee5215 commented on #17
Hi @realczy. Unfortunately, I can't since part of the agreement is that we can't openly share the dataset with other parties. Sorry about that, hope he replies soon!

[2019-01-11 16:10] oee5215 commented on #18
@cardwing Thank you! Please let me know if you find a working solution, since it would be ideal to use this model for my research project.

[2019-01-13 09:39] XieRuicheng opened #24 "FileNotFoundError: [Errno 2] No such file or directory: 'data/VOC2008test.tar'"
Hi, when I run `pre_process.py` meet a _FileNotFoundError_ as fallow:

[code]

The question may cause by trying to open an unexist file,
https://github.com/foamliu/Deep-Image-Matting/blob/a5ddd97a3b941178b034d968544c709d04d3ac21/pre_process.py#L94-L99

Unfortunately, I couldn't find the download link of this file in `README` or  PASCAL VOC website. Thus, I comment those lines, and the code seems c

[2019-01-14 05:41] foamliu commented on #24
This file can be downloaded at PASCAL VOC website.

[2019-01-14 05:41] #24 closed

[2019-01-14 05:52] foamliu commented on #24
![default](https://user-images.githubusercontent.com/14009435/51098112-a6910080-1803-11e9-8b47-1dd4593554d5.PNG)

[2019-01-14 07:13] ruicx commented on #24
thanks

[2019-01-15 01:54] foamliu commented on #22
Hello realczy, thanks for the feedback. Are you using test.py, I've just fixed an issue, can you have a try again?

[2019-01-17 01:34] iEdric commented on #12
same here

[2019-01-17 06:27] rainsun1 commented on #13
upsample就是1对4拷贝填充，unpool需要按pool时的位置，把最大像素按这个位置填充回去，其余填0。我的理解。

[2019-01-17 12:07] foamliu commented on #12
Again, please contact the author for the dataset.

[2019-01-21 14:40] chenzhaiyu commented on #22
I tried test.py and the jagged edges still existed in predictions. I could only blame dataset bias for the abnormal performance.

[2019-01-21 14:40] #22 closed

[2019-01-22 11:10] foamliu commented on #22
Thanks @realczy , could you paste new prediction image so I can take a look?

[2019-01-23 23:20] generalmilk commented on #22
Looks like you have resized the trimap with interpolation.

[2019-01-29 21:00] JerryKurata opened #25 "How can we run demo without Adobe training set?"
Hi,

Apparently the original image training sets is not available to anyone not associated with a university.  Is there a way to run the demo at least without it.  You have graciously provided the trained model so why is the training data needed for processing new images?

[2019-01-30 02:33] xaibeing opened #26 "How to preduce the trimap?"
I do some test but didn't get result as good as the images shown in the README.md.
I think trimap have a huge impact to the result. I use Mask RCNN to generator segmentation and than the trimap.
Could you tell how do you produce the trimap in the README.md  [demo images](https://github.com/foamliu/Deep-Image-Matting/blob/master/README.md#demo) ?
Thanks!

[2019-02-02 19:09] tsing90 commented on #26
good question, refer to #5

[2019-02-08 04:35] rainsun1 commented on #26
You can use the "Robust Matting" demo to produce the trimap.

[2019-02-08 04:41] rainsun1 commented on #25
The training data is not needed and you only have to provide an input RGB image, a trimap (320x320) and a trained model. You can modify the corresponding codes in "demo.py".

[2019-02-08 10:56] tsing90 commented on #26
@rainsun1 could you put a link of code here so that we can have a try? I searched for the code, it seemed 'robust matting' algorithm also need trimap to produce final result.

[2019-02-08 11:32] rainsun1 commented on #26
Here is a robust matting demo, you could load an image and then create a trimap yourself by the brushes and inpainting.

[RobustMatting_1.45.zip](https://github.com/foamliu/Deep-Image-Matting/files/2844890/RobustMatting_1.45.zip)

[2019-02-08 11:59] tsing90 commented on #26
@rainsun1 many thanks for sharing this, actually, it'll be better if the trimap can be automatically generated so that the whole process can be automatic. recently, i found a useful website which can do bg removal all in automation: http://remove.bg

[2019-02-08 14:27] rainsun1 commented on #26
@tsing90 A paper named "Semantic Human Matting" is in this automatic trimap way.

[2019-02-13 22:06] tsing90 commented on #26
@rainsun1 many thanks, that's what I need. unfortunately, the big datasets shown in that paper are not available for us. that kind of big datasets is essential for training a good model.

[2019-02-14 04:19] haichaoyu opened #27 "Training is very slow with GPU utility"
Hello Yang,

Thanks for your efforts to implement this. I found training process is quite slow and GPU util percent is quite low (0% during a large portion of each iteration). Is this the same case in your training?

BTW, can this code reproduce the claimed performance in the paper?

Thanks

[2019-02-14 14:14] usalexsantos commented on #25
Does the image need to be 320X320? Can I run the code with the original image size?

[2019-02-22 11:43] HWNHJJ opened #28 "how to run this project?"
i can not   run  the  project.what should  i   do?
when  i    run  pre_process.py  ,it  will show  " No module named 'tqdm' "

[2019-02-23 01:42] HWNHJJ commented on #25
you    could     .just      modify  demo.py

[2019-02-23 02:32] HWNHJJ commented on #25
I am recreating the experiment, some questions I hope to be advised, this is my contact information.
my  address   e11514001@stu.ahu.edu.cn   ,    huangjiajian_1997@163.com  ,or  QQ 1820641671

[2019-02-23 10:04] rainsun1 commented on #26
@tsing90 yes, but can you find some other implementations on "Semantic Human Matting" on github?

[2019-02-23 10:06] rainsun1 commented on #25
perhaps you can modify the input shape from (320, 320, 4) to (None, None, 4) in test?

[2019-02-24 13:50] wodsoe commented on #26
remove.bg,so wonderful

[2019-02-24 14:10] tsing90 commented on #26
@rainsun1 yes, I found some, like
https://github.com/lizhengwei1992/Semantic_Human_Matting
https://github.com/CapsulE07/semantic-human-matting

[2019-02-24 14:11] tsing90 commented on #26
@wodsoe that's our benchmark from industry ;)

[2019-02-25 04:33] wodsoe commented on #26
How to re-implement

[2019-02-25 08:06] farazBhatti commented on #26
@tsing90 you can use Deep Lab v3+(https://github.com/tensorflow/models/blob/master/research/deeplab/deeplab_demo.ipynb) to get segmentation mask and then apply trimap generator to produce trimaps.
https://github.com/lnugraha/trimap_generator

[2019-02-25 22:36] tsing90 commented on #26
@farazBhatti thanks for your suggestion. actually I've already tried its xception model which is good to get decent masks. To get trimaps, it's enough just by doing dilating and eroding. The key problem is that the masks we got from semantic segmentation (like deeplab v3+) is binary, its quality is lower than alpha matting

[2019-02-26 03:12] qianbin228 commented on #27
@haichaoyu  You must get something wrong. When I run the demo, the GPU util percent is normal.

[2019-02-26 05:22] farazBhatti commented on #26
@tsing90, yes true we only need medium quality segmentation mask to get trimap and from that trimap along with original colored image alpha matte is predicted. Alpha matte segmented image will always be superior to any other segmented mask , but we really don't need that good quality of segmented mask to predict alpha matte.

[2019-02-27 03:34] HWNHJJ commented on #27
您好~     我已学习过基础知识，仔细阅读了论文。现在毕设需要复现实验，老师让我试运行这段代码。但我不知道如何运行起来，请问您能指导一二吗。
相关环境配置我已经弄好。

[2019-02-28 04:00] HWNHJJ opened #29 "some error"
When   i    run   the     test.py,  it   show:
OSError: Unable to open file (Unable to open file: name = 'models/final.42-0.0398.hdf5', errno = 2, error message = 'no such file or directory', flags = 0, o_flags = 0)

but   i  had   put  the final.42-0.0398.hdf5   in this folder.

[2019-02-28 04:06] HWNHJJ opened #30 "Your CPU supports instructions that this TensorFlow binary was not compiled to use: AVX2"
which tensorflow could  i   select   ?

my   cpu   was    Intel(R) Core(TM) i5-4210U   CPU  @1.70GHz  2.39

[2019-02-28 05:43] farazBhatti commented on #28
for python 2
pip install tqdm

for python 3
pip3 install tqdm

this module is used for showing progress bar

[2019-02-28 06:40] HWNHJJ commented on #28
@farazBhatti   thanks

[2019-02-28 15:23] tsing90 commented on #26
Does anyone have this problem? when producing trimap using the alpoha matte image from Adobe's DIM datasets, the trimap is kind of jagged, shown like below. My first guess of this issue is due to the image quality of .jpg, because .png images in that datasets don't have this problem.
![1-1252426161dfxy](https://user-images.githubusercontent.com/20683656/53577023-d22a3900-3b6c-11e9-9be7-a3e2ed191ee

[2019-02-28 16:05] farazBhatti commented on #26
Yes it could be the result of jpg compression quality. By the way is there any link to this data(
Adobe's DIM dataset) set which you are using?Thanks

[2019-02-28 17:53] tsing90 commented on #26
@farazBhatti I got them from the author, due to license issue, you have to contact the author of that paper

[2019-02-28 22:21] tsing90 opened #31 "recreate datasets after each epoch"
@foamliu Hi, thanks for your implementation of that paper. In that paper, it was said :

" Finally, the training inputs are recreated randomly after each training epoch."(in 4.1 - implementation part)

in your code (https://github.com/foamliu/Deep-Image-Matting/blob/master/data_generator.py#L156), you just did a shuffle of your name list, without recreating (recomposting) the input images. I think

[2019-03-01 04:51] #28 closed

[2019-03-01 04:52] #27 closed

[2019-03-01 04:55] foamliu commented on #26
@xaibeing The trimaps are in the dataset obtained from the author.

[2019-03-01 04:55] #26 closed

[2019-03-01 04:56] foamliu commented on #30
This warning causes no harm.

[2019-03-01 04:56] #30 closed

[2019-03-01 05:36] foamliu commented on #31
Recreating dataset is super time-consuming, please have a try and let us know if you see improvement.

[2019-03-01 05:37] foamliu commented on #29
Please have a double check, feel free to reactivate this issue you're sure this is a code issue.

[2019-03-01 05:37] #29 closed

[2019-03-05 02:15] tearhupo121031 opened #32 "can't get the pretrained model"
sorry for bothering, I can't download the pre-trained model in the provided link……
could you please share the pre-trained model to me? such as baiduyun,etc.

[2019-03-05 03:31] HWNHJJ opened #33 "AttributeError: 'NoneType' object has no attribute 'shape'"
AttributeError: 'NoneType' object has no attribute 'shape'

[2019-03-05 07:50] HWNHJJ commented on #33
I   find   the   answers.  thanks

[2019-03-06 14:19] VolzotanSmeik opened #34 "Is there a difference in the architecture?"
Thanks for sharing your code!
I have two questions regarding it, it would be nice if someone could help me out a bit:

1) You added skip connections (which I couldn't find in the description in the original "Deep Image Matting" adobe paper) to the encoder-decoder network and removed/commented the (1x1x4096) convolution in the model.py, why is that?

2) Why did you define for training a different m

[2019-03-09 11:17] tsing90 commented on #9
I found the same issue, interesting bug, LOL!
And it seems that cropped image/alpha/trimap are not resized to 320x320 ......

[2019-03-12 08:34] HWNHJJ opened #35 "I want to check the mapping skills for transparent items. How can I get the corresponding data set?"
I want to check the mapping skills for transparent items. How can I get the corresponding data set?

[2019-03-18 09:37] foamliu commented on #35
Please contact the authors.

[2019-03-18 09:37] #35 closed

[2019-03-18 09:51] #33 closed

[2019-03-18 09:53] foamliu commented on #34
Hi @VolzotanSmeik, nice to meet you.
The skip connections structure (pooling indices) and removal of fully connected layers are inspired by SegNet paper (https://arxiv.org/pdf/1511.00561.pdf). It reduces the number of parameters significantly (from 134M to 14.7M), made the net easier to train.

[2019-03-19 13:44] ahsanbarkati commented on #25
@rainsun1 I faced a similar issue and I tried to modify input shape from (320,320,4) to (None,None,4) in models.py. But I get the following error:
ValueError: Tried to convert 'shape' to a tensor and failed. Error: None values not supported.

[2019-03-20 05:10] rainsun1 commented on #25
@ahsanbarkati Where does the error  come from? Is it in the shape computation from a layer?

[2019-03-20 05:43] ahsanbarkati commented on #25
**Here is the complete log:**

`ValueError                                Traceback (most recent call last)
/usr/local/lib/python3.5/dist-packages/tensorflow/python/framework/op_def_library.py in _apply_op_helper(self, op_type_name, name, **keywords)
    510                 as_ref=input_arg.is_ref,
--> 511                 preferred_dtype=default_dtype)
    512           except TypeError as err:

/

[2019-03-20 05:45] ahsanbarkati commented on #25
You can look into the complete error log here: https://pastebin.com/2Pw1mVF2
The error is in this line: origReshaped = Reshape(shape)(orig_5)

[2019-03-21 05:09] wangxin1233 opened #36 "vgg16"
Thank you very much for sharing the code. I have two questions to ask and hope to get your reply:

During the training, VGG16 was selected for the pre-training model, but where did you import the VGG16 model?

In addition, if I want to follow up the final.42-0.0398.hdf5 you gave me and continue the training, where should I import this weight?

[2019-04-07 08:11] cardwing commented on #18
@oee5215, the pytorch version of deep-image-matting (https://github.com/huochaitiantang/pytorch-deep-image-matting) is preferred and yields better performance.

[2019-04-07 15:47] #34 closed

[2019-04-07 15:47] #31 closed

[2019-04-13 09:58] samhodge commented on #32
https://github.com/foamliu/Deep-Image-Matting/releases

[2019-04-17 04:59] wangxin1233 opened #38 "Doubt about alpha and trimap"
首先，非常感谢您提供了代码实现了这篇论文。关于最后的结果我有一些疑问。
我们这篇文章的输入虽然是trimap，但是trimap的输入依赖于alpha.也就是说首先我们必须提供alpha，是这个意思吗？
最后的输出结果out的损失是和提供的alpha对比吗？也就是代码中的真实值其实就是我们提供的alpha吗？
First of all, thank you very much for providing the code to implement this paper. I have some questions about the final result.

The input of this article is trimap, but the input of trimap depends on alpha. Is the loss of the final output out c

[2019-04-17 14:25] ronyuzhang opened #39 "Why is the result pixel not 0 or 1?"

[2019-04-19 23:42] foamliu commented on #38
Please refer to the paper.

[2019-04-19 23:42] #38 closed

[2019-04-19 23:44] foamliu commented on #36
You can find the pretrained VGG weights from Keras's website @ https://keras.io/applications/.

[2019-04-19 23:44] #36 closed

[2019-04-19 23:44] foamliu commented on #32
Thanks @samhodge .

[2019-04-19 23:44] #32 closed

[2019-04-19 23:45] foamliu commented on #39
Please elaborate.

[2019-04-24 17:35] antithing opened #40 "Real time?"
Hi, and thank you for making this code available. Is it fast enough for real time use? How long does the function take to return an alpha from the trimap/colour input?

Thanks!

[2019-04-26 03:57] yxt132 commented on #25
I have the image and trimap and also downloaded the pre-trained model. But I have no clue as to how to modify the demo.py to make it work for my own test. Also, like other people said, it will be nice to be able to change the image size as well. Can you provide another demo code for us to test when we don't have the Adobe datasets, a lot of us don't have it anyways. Thanks!

[2019-04-26 09:19] shartoo commented on #25
You have to change input shape of network and train the model and the height and widht of input shape should be equal.

[2019-05-11 02:13] w1ldm1nd opened #41 "Noisy output"
Hello, first of all I want to thank @foamliu for the implementation, it was a huge help for training and testing this network.

However I have problem with noisy matte as output. My output mask looks like this (white and gray pixels outside object area, sometimes black and grey pixels inside object as well):

![jennifer_lawrence_resized](https://user-images.githubusercontent.com/50505479/57563701-

[2019-05-13 09:56] cians commented on #38
because the trimap for each image is randomly dilated from its ground truth alpha matte .......

[2019-05-14 00:52] flyonok commented on #1
@jjlchui , Can you send me the Adobe datasets's link, I have send a email for author of Deep Image Matting, but I didn't get a reply.Thanks. My email is flyonok@163.com

[2019-06-15 17:26] Rimander opened #42 "Failed to get convolution algorithm"
When execute "python demo.py"
Tensorflow-gpu - 1.13
But working with tensorflow cpu

Crash on -> y_pred = final.predict(x_test)

tensorflow.python.framework.errors_impl.UnknownError: Failed to get convolution algorithm. This is probably because cuDNN failed to initialize, so try looking to see if a warning log message was printed above.
	 [[{{node conv1_1/convolution}}]]

[2019-06-21 23:03] peachthiefmedia commented on #25
If you need a larger size you are probably best to provide it in patches and then reconstruct it.  There are some pre-existing python modules to do so (https://github.com/adamrehn/slidingwindow for example) but it's pretty easy to write the loop to do it.

[2019-06-22 12:24] peachthiefmedia commented on #41
I've found the problem is in the trimap, if you use a index colour mode with values of only 0,128,255 it doesn't show the edge.  I did this by posterising the trimap in photoshop, but its easiest to copy the trimaps in the alphamatting database.

[2019-06-25 09:15] wy3406 opened #43 "loss computational error"
Hi，Thanks for sharing your source code! Here is my question:
K.sum(K.sqrt(K.square(diff) + epsilon_sqr)) / (num_pixels + epsilon) is equal to （diff_1+diff_2+..+diff_n）/（mask_1+mask_2+...+diff_n) is it right?
but I think the real way to do this is [(diff_1/mask_1)+(diff_2/mask_2)+..+(diff_n/mask_n)]/n

[2019-07-04 03:44] albalab commented on #6
@bobykhani, @shliang0603,  @18191171661

Hey guys!
Please, can you send me the Adobe datasets's link. I have send a email for author of Deep Image Matting, but didn't get a reply. Thanks.

My email amenothis@gmail.com.

[2019-07-05 10:41] FantasyJXF commented on #25
If input is None, maybe you should use tf.shape[index] to compute, not tf.get_shape().as_list()

[2019-07-11 09:36] FantasyJXF commented on #26
@tsing90 Hi, I'm re-implementing the work nowadays. Could you please share some details of your tests. Hope to have a talk, my email  931026752@qq.com

[2019-07-15 07:21] FantasyJXF commented on #38
I think the most important thing to matiing with this model is to get the trimap, which I think it's so hard to get. How did you do this?

[2019-07-17 12:52] MarSaKi opened #45 "train higher resolution image"
Thanks for you work!
I want to know if it is possible to train 800*600 image ? If it is possible , how can I change the code?

[2019-07-20 11:02] foamliu commented on #45
Please take a look at https://github.com/foamliu/Deep-Image-Matting-v2

[2019-07-20 11:02] #45 closed

[2019-07-29 05:25] tankfly2014 opened #46 "问题解决了"
问题解决了.

[2019-07-29 12:01] xinlinxie opened #47 "Ask"

[2019-07-29 12:01] #47 closed

[2019-07-29 12:06] xinlinxie opened #48 "Ask for metrics code"
Hello,
sorry for bothering
recently, I am confused about the matting metrics like 'SAD' and 'MSE', 'Gradient' , 'Connectivity' , do you have codes for that? It would be great help to me. Thanks~

[2019-08-07 17:36] devvikas opened #49 "How can we train on higher resolution images ?"
My training images are of 1200 * 800 resolution. How can i train using your pre trained model ?

[2019-08-08 01:05] foamliu commented on #49
Please take a look at https://github.com/foamliu/Deep-Image-Matting-v2.

[2019-08-09 15:52] devvikas commented on #49
I am using this repo for training on my custom dataset. I am using your pretrained model in my training.
I get following values.

loss: 2.3741e-06
acc: 0.4070

loss becomes very low quickly. Is this correct ? or is there any other way to check if my training is going fine ?

[2019-08-12 05:26] #49 closed

[2019-08-12 05:27] devvikas commented on #48
its here:
 https://github.com/foamliu/Deep-Image-Matting/blob/master/utils.py

[2019-08-12 17:10] devvikas opened #50 "What is accuracy in your model ?"
In keras, we can add the validation & training accuracy parameter.
During training, keras will print those accuracy values. But are they relevant ? if yes then how are they calculated ?

[2019-08-14 01:19] shellin-star commented on #48
Thank you for your reply!
In this file, I see 'SAD'and 'MSE'. Can you provide code about 'Gradient' and 'Conenctivity'?
Thank you agin~

[2019-08-20 01:02] foamliu commented on #50
Normally we use "accuracy“ to measure performance of classification problem, not regression problem.

[2019-08-20 01:02] #50 closed

[2019-08-20 01:03] foamliu commented on #48
It is not done yet, please feel free to create a PR for this.

[2019-08-20 01:03] #48 closed

[2019-08-20 01:03] #46 closed

[2019-08-20 01:14] foamliu commented on #43
The entire function is this:
`def alpha_prediction_loss(y_true, y_pred):
    mask = y_true[:, :, :, 1]
    diff = y_pred[:, :, :, 0] - y_true[:, :, :, 0]
    diff = diff * mask
    num_pixels = K.sum(mask)
    return K.sum(K.sqrt(K.square(diff) + epsilon_sqr)) / (num_pixels + epsilon)`

Why do you think the approach described above is the real way?

[2019-08-20 01:14] #43 closed

[2019-08-20 01:15] foamliu commented on #41
This version does not work well with different size, please take a look at v2 @ https://github.com/foamliu/Deep-Image-Matting-v2.

[2019-08-20 01:15] #41 closed

[2019-08-20 01:15] foamliu commented on #42
Close this since it seems an environment issue.

[2019-08-20 01:15] #42 closed

[2019-08-20 01:16] #39 closed

[2019-08-20 05:19] yxt132 commented on #26
Only the test dataset has trimaps. The training set does not have them. @foamliu Can you explain a little bit how you generated trimaps for your training set? Thank you.

[2019-09-03 07:47] Jason-xin commented on #48
Hello, have you solved this problem? I also don't know how to code this two metrics

[2019-09-28 13:35] rainsun1 commented on #25
You can also construct the model with a large shape such as:
image_size = (800, 800)
input_shape = image_size + (4, )
model = build_encoder_decoder(shapeInput=input_shape)
after model prediction, you can crop the result into the original size of the image.

[2019-10-21 08:23] flyfish01 commented on #6
@bobykhani, @shliang0603, @18191171661 @albalab
Hi, guys!
  Do you received the dataset's link, could you share it, thank you!
  My email is haoran.andy###gmail.com

[2019-10-25 16:37] madhukirand opened #51 "ValueError: You are trying to load a weight file containing 47 layers into a model with 33 layers."
I have trained DIM on a custom dataset, while loading weights from the saved .hdf5 file in test.py I am getting this above value error.

Keras 2.2.4
Python 3.6
TF 1.14

[2019-10-25 16:58] madhukirand commented on #51
Changed Import from Model to segnet fixed the issue

[2019-10-25 16:58] #51 closed

[2019-10-27 00:44] confident-OH commented on #15
如果你拿到了Adobe_Deep_Matting_Dataset.zip，能发我一份吗？现在急需这个数据集，但作者出差了，我的邮箱confidentoh@foxmail.com

[2020-01-21 17:12] sergiomena commented on #26
@xaibeing Hi, I'm also doing segmentation with mask RCNN and now I'm trying to use image matting to improve edge identification. I would like to private message you because now I have some trouble and maybe discussing could help both, if you want this is my email: sergio.17mena@gmail.com

[2020-02-07 03:03] Ruifeng-Zhou24 commented on #27
@haichaoyu
hi,

I encountered the same problem as yours. Have you solved your problem and could you share your solution?

thanks

[2020-02-07 03:07] foamliu commented on #27
Maybe you'd like to check out this project: https://github.com/foamliu/Deep-Image-Matting-PyTorch.

[2020-02-07 03:08] haichaoyu commented on #27
Hi @Ruifeng-Zhou24 ,

Finally I implemented my own training framework. I have no idea why it is slow yet. Maybe because the pre-processing is too slow. If yes, maybe you can try some data prefetching methods like [this](https://github.com/Yaoyi-Li/GCA-Matting/blob/master/main.py#L62).

[2020-02-07 03:14] Ruifeng-Zhou24 commented on #27
I will take a look at that, thanks again @haichaoyu @foamliu

[2020-02-18 08:40] apoorva1225 commented on #6
Hi, @bobykhani, @shliang0603 , @flyfish01
Can anyone of you help me with this dataset. I emailed the authors but haven't received any reply. Thank you.
My email is apoorva1225@gmail.com

[2020-03-03 15:42] yeshwanth28 commented on #33
Can you tell me how to resolve this error I am also having same error while executing  ?
Please help me with this

[2020-03-04 00:43] foamliu commented on #33
This error usually means the image path is incorrect.

[2020-03-26 14:11] sinhblue opened #52 "annotate image"
Hi, I am a newbie, I want to know what annotation tool do we need to annotate images for Deep Image Matting?

[2020-04-01 16:30] #52 closed

[2020-04-20 01:47] liuzimo commented on #15
May I have a copy, thank you very much
 spiritai@qq.com
 or
 spiritgufy@gmail.com

[2020-07-01 08:26] codingdudecom commented on #15
I don't suppose there's any chance of getting a copy of that. If there is, please send me a download link at admin@coding-dude.com

[2020-07-15 05:12] syoung125 commented on #1
Can you send me the Adobe datasets's link, I have send a email for author of Deep Image Matting, but I didn't get a reply.Thanks. My email is laura120555@gmail.com

[2020-07-15 09:13] kaikaigood opened #53 "Run train.py ERROR"
Hi，foamliu：

1. When “loss=overall_loss”, "pretrained_path = None" and "num_gpu=1" are set, an error occurs when running “train.py”. The error situation is as follows：
- code: final.compile(optimizer='nadam', loss=overall_loss, target_tensors=[decoder_target])
- error: Traceback (most recent call last):
    File "C:\Users\Administrator\anaconda3\envs\tensorflow1.15\lib\site-packages\tensorflow_cor

[2020-11-11 06:52] DexJoke commented on #1
@foamliu Can you send me the Adobe datasets's link, I have send a email for author of Deep Image Matting, but I didn't get a reply.Thanks. My email is dexjokesh@gmail.com

[2020-11-11 14:54] foamliu commented on #1
Sorry guys, I am not authorized to redistribute this dataset.

[2020-12-25 05:34] skxiaoniao opened #54 "can you share adobe dataset?"

[2021-01-26 13:19] sukki37 commented on #1
@jjlchui ,  @syoung125  @foamliu  @flyonok Can you send me the Adobe datasets's link, I have send a email for author of Deep Image Matting, but I didn't get a reply.Thanks. My email is 165627230@qq.com.

[2021-05-17 06:19] Thunder003 opened #55 "Unknown region predicting foreground only"
I've trained it on the custom dataset of 6800 training images and 761 validation images. All the unknown region pixel takes the value of 255 eventually.  I've checked with a batch size of 1,8, &16 and with multiple learning rates. @foamliu do you have any idea what can be a plausible reason for it?

[2021-07-13 14:20] Datura0822 commented on #48
I need too.

[2021-07-25 14:58] mstarget opened #56 "the bgpath in pre_process"
hi , Is bg_path an image file for Coco?

`  bg_path = 'data/bg/'`

[2022-03-27 16:02] RaymondJiangkw commented on #48
Hi,
I think you can find them here.
[https://github.com/JizhiziLi/GFM/blob/master/core/evaluate.py](https://github.com/JizhiziLi/GFM/blob/master/core/evaluate.py)

[2022-08-01 12:53] foamliu commented on #54
I was not authorized to redistribute the dataset, please contact the owner Adobe.

[2022-08-01 12:53] #54 closed